################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Security and Testing/Security and Testing For Trap Project/Security and Testing For Trap Project/Security and Testing For Trap Project.csproj
.vs/
bin/
obj/
*.user
*.suo